<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Under Contstruction</title>
</head>
<body>
    <header><h1>Welcome <%=username %> Unfortuantely the site isn't ready yet</h1></header>
    
</body>
</html>